<!DOCTYPE html>
<html lang="en">
<head>
    <title>Primer Parcial</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/Styles/Diseño.css">

</head>
<body>
    <h1>Tablero Aplicaciones Web</h1>

        <div class="Tablero">
            <div class="Fila-Casillas">
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>             
            </div>
            <div class="Fila-Casillas">
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>             
            </div>
            <div class="Fila-Casillas">
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>             
            </div>
            <div class="Fila-Casillas">
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>             
            </div>
            <div class="Fila-Casillas">
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>             
            </div>
            <div class="Fila-Casillas">
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>             
            </div>
            <div class="Fila-Casillas">
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>             
            </div>
            <div class="Fila-Casillas">
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>
                <div class="Casilla-Negra"></div>
                <div class="Casilla-Blanca"></div>             
            </div>
        </div>

        <div class="btn btn-primary btn-lg">soy un boton</div>
    <footer><h3> Autor: Eduardo Flores -- 30/05/2019 </h3></footer>
</body>
</html>